body{
    background-color: rgb(119, 76, 158);
    
}
.stopwatch{
    width: 90%;
    max-width: 600px;
    background-image: url(ryan-stone-IxFjSPBzyM4-unsplash.jpg);
    
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #ffff;
    margin: 200px auto 0;
    box-shadow: 10px 20px rgba(red, green, blue, alpha);
}
.stopwatch h1{
    font-style: oblique;
    margin: 5px;
    font-size: 40px;
    font-weight: 200px;
}
.buttons{
    align-items: center;
    display: flexbox;
    justify-content: center;
    
}
.buttons img{
    width: 60px;
    margin:0 20px;
    cursor: pointer;
}
.buttons img:nth-child(2){
    width: 80px;
}
.buttons img:hover{
    color: black;
    cursor: grab;
}
