*{
    margin: 100;
    padding: 100;
    box-sizing: border-box;

}

.outer-box{
    width: 100vw;
    height: 100vh;
    font-size: medium;
    background: linear-gradient(to top left,rgb(163, 214, 230),rgb(240, 240, 240));
}
.inner-box{
    width:400px;
    margin:0 auto;
    position: relative;
    top: 50%;
    transform:translateY(-50%);
    padding: 20px 50px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px rgb(1, 16, 17);
    box-align: center;
    z-index: 2;
    
}
.signup-header h1{
    font-size: 2.5rem;
    color: rgb(8, 137, 146);
    align-items: center;
}
.signup-header p{
    font-size: 0.8rem;
    color:#cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.signup-body{
    margin: 20px 0;
    align-items: center;
}
.signup-body p{
    margin: 10px 0;
    align-items: center;
}
.signup-body p label{
    display: block;
    font-weight: bold;
    
}

.signup-body p input{
    width: 70%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    border-style: outset;
    font-size: 1rem;
    margin-top: 4px;
    text-align: center;
}
.signup-body p input[type="submit"]{
    background-color: rgb(107, 173, 199);
    border: none;
    color: white;
    cursor: pointer;

}
.signup-body p input[type="submit"]:hover {
    background-color:rgb(39, 113, 143);
}
.signup-footer p {
    color: #555;
    text-align: center;

}
.signup-footer p a {
color: rgb(39, 113, 143);
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgb(196, 132, 174);
    background: linear-gradient(to top right);
    position:absolute;
}
.c1{
    top: 100px;
    left: 40px;
}
.c2{
    bottom: 200px;
    right: 50px;
}